/*sidebar*/
div.css-6qob1r.e1fqkh3o3 {
    background-color: #FFD773;
}

/*sidebar topics text*/
span.css-1aw8i8e.e1fqkh3o5 {
    color: #000000;
}

/*sidebar selected topic text*/
span.css-15zws4i.e1fqkh3o5 {
    font-weight: 800;
}

/*sidebar selected topic background*/
a.css-gu24n.e1fqkh3o6 {
    background-color: #f0ba33;
}